*.nav
*.snm
*.pdf
*.aux
*.log
*.toc
*.pdf
*.dvi
*.idx
*.out
*.toc
*.bbl
*.blg
*.bcf
*.run.xml
*.fdb_latexmk
*.fls
*.ilg
*.ind
*.DS_Store
*.gz
*.zip
*.vrb
venv/*
build/*
*.pyc
!*/data/*.pdf
!*/images/*.pdf
*/.vscode
.vscode/
*-blx.bib